body {
    background-color: #000000;
    overflow: hidden; /* Hide scrollbars */
}

#settings {
    text-align: center;
}

#settings button {
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    border:none;
}

#time-setting {
    text-align: center;
}

#time-setting button {
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border:none;
}

#time-setting button.selected {
    background: #222222;
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border:none;
}
