body {
    background-color: #000000;
}

#settings {
    text-align: center;
}

#settings button {
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}
